<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ITS.Common.RtfWriter" version="5.0.261.152" targetFramework="net40" />
  <package id="ITS.Core" version="5.2.7398.418" targetFramework="net40" />
  <package id="ITS.GIS" version="5.2.7398.418" targetFramework="net40" />
  <package id="ITS.Plugin.Core" version="5.2.7398.418" targetFramework="net40" />
  <package id="ITS.Plugin.EditGeometry" version="5.2.7398.418" targetFramework="net40" />
</packages>