<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler, NHibernate.Caches.SysCache" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,                    Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" requirePermission="true" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" requirePermission="true" />
  </configSections>

  <appSettings>
    <add key="indexCachePath" value="C:\Index" />
    <add key="tcpport" value="8731" />
    <add key="httpport" value="8732" />
    <add key="address" value="localhost" />
  </appSettings>

  <system.web>
    <roleManager enabled="true" defaultProvider="CustomProvider">
      <providers>
        <add name="CustomProvider" type="ITS.Data.Security.CustomRoleProvider, ITS.Data" />
      </providers>
    </roleManager>
    <compilation debug="false" />
  </system.web>

  <runtime>
    <gcServer enabled="true" />
  </runtime>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">
        NHibernate.Spatial.Dialect.PostGisDialect, NHibernate.Spatial.PostGis
      </property>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.NpgsqlDriver
      </property>
      <property name="connection.connection_string">
        Server= 192.168.0.53;Database=itsgis_3;User ID=pgroot;Password=1234;Encoding=utf8;CommandTimeout=600;Timeout=600;
      </property>
      <property name="show_sql">false</property>
      <property name="cache.use_second_level_cache">true</property>
      <property name="cache.use_query_cache">true</property>
      <property name="cache.provider_class">
        NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache
      </property>
      <property name="proxyfactory.factory_class">
        NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle
      </property>
      <mapping assembly="ITS.Data" />
    </session-factory>
  </hibernate-configuration>

  <syscache>
    <cache region="LongTerm" expiration="3600" priority="5" />
    <cache region="ShortTerm" expiration="900" priority="3" />
  </syscache>

  <unity>
    <container>
      <register type="ITS.Core.ServiceInterfaces.IServiceConfigurator, ITS.Core" mapTo="ITS.Services.CoreServices.CoreServiceConfigurator, ITS.Services.CoreServices" name="Core" />
    </container>
  </unity>

  <log4net>
    <appender name="sqlRollingFile" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="log_sql.txt" />
      <param name="AppendToFile" value="true" />
      <param name="rollingStyle" value="Date" />
      <param name="datePattern" value="yyyyMMdd" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="log_database.txt" />
      <param name="AppendToFile" value="true" />
      <param name="rollingStyle" value="Date" />
      <param name="datePattern" value="yyyyMMdd" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="rollingFile" />
    </root>
    <logger name="NHibernate">
      <appender-ref ref="rollingFile" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <appender-ref ref="sqlRollingFile" />
    </logger>
  </log4net>

  <loggingConfiguration tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" formatter="Text Formatter" fileName="log_server.txt" />
      <add name="Gelf Listener" type="ITS.ProjectBase.Utils.ExceptionLogging.TraceListeners.GelfTraceListener, ITS.ProjectBase.Utils"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        grayLogServerHost="mars.itsgis.ru" grayLogServerPort="12201" additionalFields="_from:ITSGIS Core Server" facility="1" formatter="Gelf Formatter"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
      <add type="ITS.ProjectBase.Utils.ExceptionLogging.Formatters.GelfFormatter, ITS.ProjectBase.Utils" name="Gelf Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener" />
          <add name="Gelf Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors Warnings">
        <listeners>
          <add name="Flat File Trace Listener" />
          <add name="Gelf Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <exceptionHandling>
    <exceptionPolicies>
      <add name="AbstractServicePolicy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib" postHandlingAction="None">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="300" maximumElementsInCacheBeforeScavenging="50" numberToRemoveWhenScavenging="5" backingStoreName="inMemory" />
    </cacheManagers>
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
  </cachingConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
